{% extends 'main/base.html' %}
{% load static %} 



{% block title %}
NigTech | Nigeria's Tech Industry.

{% endblock %}


{% block content %}

<style type="text/css">
	.btn-primary:hover{
		background-color: #fff212 !important;
		color: #000 !important;
		transition: 0.6s;
	}
</style>

	<section class="hero-wrap degree-right js-fullheight">
		<div class="home-slider js-fullheight owl-carousel">
			<div class="slider-item js-fullheight" style="background-image:url({% static 'main/images/bg-3.jpg' %});">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-12 ftco-animate">
							<div class="absolute">
								<h4 style="color: #fff" class="number" data-number="40">0</h4>
								<p style="color: #fff">More than 40 successful projects</p>
							</div>
							<div class="text">
								<h1 class="mb-4">We Create Modern World-Class Website</h1>
								<p style="color: #fff">We help you create stunning fully responsive & dynamic websites that help you boost your business.</p>
								<p class="mb-0"><a href="{% url 'contact' %}" class="btn btn-primarys py-md-3 py-2 px-2 px-md-4" style="background-color: #009000; color: #fff;">Start Project</a></p>
							</div>
						</div>
						<a href="https://vimeo.com/45830194" class="img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-color: #009000; color: #fff;">
							<span class="fa fa-play"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="slider-item js-fullheight" style="background-image:url({% static 'main/images/bg-2.jpg' %});">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text js-fullheight align-items-center">
						<div class="col-md-12 ftco-animate">
							<div class="absolute">
								<h4 class="number" data-number="5">0</h4>
								<p style="color: #fff">Years of Experience</p>
							</div>
							<div class="text">
								<h1 class="mb-4">Welcome to NigTech</h1>
								<p>Let us give your brand a digital representation.</p>
								<p class="mb-0"><a href="{% url 'work' %}" class="btn btn-primarys py-md-3 py-2 px-2 px-md-4" style="background-color: #009000; color: #fff;">Explore Projects</a></p>
							</div>
						</div>
						<a href="https://vimeo.com/45830194" class="img-video popup-vimeo d-flex align-items-center justify-content-center" style="background-color: #009000; color: #fff;">
							<span class="fa fa-play"></span>
						</a>
					</div>
				</div>
			</div>
			
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center no-gutters">
				<div class="col-md-12 heading-section text-center ftco-animate mb-5">
					<h2 class="mb-2">Welcome to NigTech.net</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md d-flex align-items-stretch ftco-animate">
					<div class="media block-6 w-100 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-vector" style="color: #009000;"></span></div>
						<div class="media-body py-md-4">
							<h3>UI/UX Design</h3>
						</div>
					</div>      
				</div>
				<div class="col-md d-flex align-items-stretch ftco-animate">
					<div class="media block-6 w-100 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-web-programming" style="color: #009000;"></span></div>
						<div class="media-body py-md-4">
							<h3>Web Development</h3>
						</div>
					</div>      
				</div>
				<div class="col-md d-flex align-items-stretch ftco-animate">
					<div class="media block-6 w-100 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-layer" style="color: #009000;"></span></div>
						<div class="media-body py-md-4">
							<h3>Product Design</h3>
						</div>
					</div>      
				</div>
				<div class="col-md d-flex align-items-stretch ftco-animate">
					<div class="media block-6 w-100 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-coding" style="color: #009000;"></span></div>
						<div class="media-body py-md-4">
							<h3>Mobile Apps</h3>
						</div>
					</div>      
				</div>
				<div class="col-md d-flex align-items-stretch ftco-animate">
					<div class="media block-6 w-100 services d-block text-center">
						<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-zoom" style="color: #009000;"></span></div>
						<div class="media-body py-md-4">
							<h3>SEO</h3>
						</div>
					</div>      
				</div>
			</div>
		<div class="">
			<div class="row wrap-about my-5">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 order-md-last ftco-animate d-flex">
							<div class="img w-100" style="background-image: url({% static 'main/images/new1.png' %});"></div>
						</div>
						<div class="col-md-6 ftco-animate">
							<div class="text">
								<h3>Welcome to NIGTECH</h3>

								<p style="color: #000">We design and develop websites with topnotch user experiences and user interface. Every website we create is unique and captures your brand identity and offerings. We also provide search engine optimisation for our clients. our websites are fully responsive across all latest devices.We provide very dynamic web-design packages and custom website builds that bring traffic, eyeballs and conversion.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="text" style="color: #000">
						<p>Our Web design process is collaborative – it involves you and your team every step of the way. This ensures that your new website truly represents you and your business while also achieving your goals.</p>
						<h3>Our Focus</h3>
						<p>We focus on user-friendliness, user experience and conversion.</p>
						<p><a href="#" class="btn btn-primarys" style="background-color: #009000; color: #fff;">View all projects</a></p>
					</div>
				</div>
			</div>
			
		</div>

			<div class="row mt-5">
				<div class="col-md-3">
					<div class="services-2 d-flex ftco-animate">
						<span style="color: #009000;">01</span>
						<div class="text">
							<h3>Search Engine Optimization</h3>
							<p>Let the world hear about your business.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="services-2 d-flex ftco-animate">
						<span style="color: #009000;">02</span>
						<div class="text">
							<h3>Web-Design and Development</h3>
							<p>Brand your company, get a website, go digital today.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="services-2 d-flex ftco-animate">
						<span style="color: #009000;">03</span>
						<div class="text">
							<h3>Web App and Mobile App</h3>
							<p>The world is going web and mobile, you too can!.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="services-2 d-flex ftco-animate">
						<span style="color: #009000;">04</span>
						<div class="text">
							<h3>Ecommerce Solutions</h3>
							<p>Setup an electronic store for your market</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>



<section class="ftco-section testimony-section">
		<div class="container">

			<div class="row pt-5">
				<div class="col-md-12">
					<div class="intro p-md-4 py-md-5 p-2 rounded img" style="background-image: url({% static 'main/images/nig.png' %});" data-stellar-background-ratio="0.5">
						<div class="col-md-6 ftco-animate">
							<span style="color: #009000;">Get Started</span>
							<h2  style="color: white">Fill in the brief and get the project estimate</h2>
							<p style="color: white">We design & engineer successful web, mobile & software solutions, that fuels innovation.</p>
							<p><a href="{% url 'contact' %}" class="btn btn-primarys" style="background-color: #009000; color: #fff;">Get started</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Our Recent Works</h2>
				</div>
			</div>
			<div class="row d-flex">
				{% for work in works %}
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<div class="text">
							<h3 class="heading mb-3"><a href="{{ work.link }}">{{ work.title }}</a></h3>
							<a href="{{ work.link }}" class="block-20 img" style="background-image: url({{work.image.url}});">
							</a>
							<p>{{ work.description }}</p>
							
						</div>
					</div>

				</div>
				{% endfor %}
				
			</div>
		</div>
		<div class="degree-left"></div>
	</section>	

	
{% endblock %}


<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Recent Blog</h2>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<div class="text">
							<h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
							<a href="blog-single.html" class="block-20 img" style="background-image: url({% static 'main/images/image_1.jpg' %});">
							</a>
							<div class="meta mb-3">
								<div><a href="#">June 01, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<div class="text">
							<h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
							<a href="blog-single.html" class="block-20 img" style="background-image: url({% static 'main/images/image_2.jpg' %});">
							</a>
							<div class="meta mb-3">
								<div><a href="#">June 01, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<div class="text">
							<h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
							<a href="blog-single.html" class="block-20 img" style="background-image: url({% static 'main/images/image_3.jpg' %});">
							</a>
							<div class="meta mb-3">
								<div><a href="#">June 01, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<div class="text">
							<h3 class="heading mb-3"><a href="#">Amplify your blockchain team</a></h3>
							<a href="blog-single.html" class="block-20 img" style="background-image: url({% static 'main/images/image_4.jpg' %});">
							</a>
							<div class="meta mb-3">
								<div><a href="#">June 01, 2020</a></div>
								<div><a href="#">Admin</a></div>
								<div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
							</div>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="degree-left-footer"></div>
	</section>		
